.next-step__item {
    display: flex;
    align-items: center;
    padding: 10px;

    font-size: 14px;

    background-color: #F3F8F2;
    border-radius: 7px;
    // align-self: center;

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}

.next-step__number-wrapper {

    display: flex;
    justify-content: center;
    align-items: center;


    flex-basis: 50px;
    // flex-grow: 0;
    flex-shrink: 0;
    height: 50px;

    margin-right: 14px;


    text-align: center;
    align-self: center;
    background-color: #fff;

    border-radius: 25px;
    
}

.next-step__number {
font-size: 22px;
    line-height: 22px;
    height: 22px;
    width: 22px;
}

.next-step__item-title {
    font-size: 16px;
    font-weight: 700;
}


.next-step__item-text {
    font-size: 16px;
}

// .next-step__text-wrapper {
//     margin-left: 50px;
// }