.packages__list {
//     display: flex;
// flex-direction: column;
// align-items: center;

    margin-bottom: 32px;

    @media screen and (min-width: 524px) {
            display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-top: -32px;
    margin-left: -32px;

    }

    @media screen and (min-width: 842px) {
// justify-content: space-between;
    }
}

.packages__item {
display: flex;
flex-direction: column;
// justify-content: space-between;
align-items: center;

max-width: 342px;
padding: 32px;
margin: 0 auto;

&:not(:last-child) {
    margin-bottom: 32px;

    @media screen and (min-width: 842px) {
        margin-bottom: 0;
    }
}

border: 1px solid #ebebeb;
border-radius: 12px;
box-shadow: 0 3px 15px rgba(0, 0, 0, .05);

&:hover,
&:focus {
transition: .25s;
border-color: #25ae60;
box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
}

@media screen and (min-width: 524px) {
margin: 0;

margin-top: 32px;
margin-left: 32px;

flex-basis: calc((100% - 64px) / 2);


}

@media screen and (min-width: 842px) {

    // max-width: 380px;

    flex-basis: calc((100% - 96px) / 3);
}

}

.packages__item-title {
    margin-bottom: 20px;

    font-size: 18px;
    font-weight: 700;

    @media screen and (min-width: 524px) {
            align-self: start;
            height: 50px;
        }

    // @media screen and (min-width: 842px)  {

    //     }

        @media screen and (min-width: 893px) {
            height: 30px;
        }
}

.packages__item-subtitle {
        margin-bottom: 20px;
        @media screen and (min-width: 524px) {
            align-self: start;
        }

}

.packages__item-list {
height: 209px;
padding-left: 20px;
margin-bottom: 20px;

list-style-type: disc;

@media screen and (min-width: 524px) {
            align-self: start;
        }
}

 .packages__item-item {
font-size: 14px;
}

.packages__price {
margin-bottom: 20px;
    font-size: 28px;
    font-weight: 700;

    text-align: center;
}

.packages__button {
    // width: 0%;
    max-width: 200px;
    background-color: #25ae60;

&:hover,
&:focus {
transition: .25s;
background-color: #25ae60;
box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
}
}

.packages__button-active {
        max-width: 200px;

    background-color: #f49a40;

    &:hover,
&:focus {
transition: .25s;
background-color: #f49a40;
box-shadow: rgba(0, 0, 0, 0.176) 0px 16px 48px 0px;
}
}

.packages__item-active {
    background-color: #25ae60;
    color: #fff;

}

.packages__contact-text-wrapper {
    // margin: 0 auto;
     @media screen and (min-width: 524px) {
         text-align: center;
     }

      @media screen and (min-width: 893px) {
font-size: 22px;
    }

}

.packages__contact-text {
    display: inline;
    // @media screen and (min-width: 524px)  {
    //     margin-right: 15px;
    // }
}

.packages__contact-link {
    color: #25ae60;
}